.about{
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
  position: absolute;
  
}
.nav-link:hover {
  color:red; /* Change color on hover */
  text-decoration: none; /* Remove underline on hover */
}

.heading-name {
  font-size: 3.5em !important;
  /* padding-left: 45px !important; */
}

.main-name {
  color: #cd5ff8;
  font-size: 2.5em 
}

.color{
  background-color: #2e083d;
}


.app {
    position: absolute;
    width: 500px;
    height: 1500px;
    border-radius: 50px;
  }
  
  .a {
    font-size: 50px;
    margin-left: 100px;
    margin-top: -px;
  }
  
  .c {
    position: relative;
    background: RED;
    color: white;
    border-radius: 6px;
    margin-left: 250px;
    margin-top: 40px;
    width: 250px;
    padding: 10px;
  }
  

  
  .d {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }



.ab{
  color:rgb(5, 99, 96);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


.ab2{
  color:#2e083d;
  font-size: 30px;
  }

/* App.css */
/* App.css */
.MT {
  color: red; /* Adjust this value to provide appropriate spacing */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: black; /* White text for better readability */
  padding: 1rem; /* Padding for spacing */
}

.carousel-item {
  text-align: center; /* Center-align text for testing purposes */
}

/* .ab{
  width: 500px;
  height: 500px;

} */

.mt{
  padding-top: 100px;
  
}


.d-block{
  border-radius: 0px;
}